<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Sneakers</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo">
                
            </div>
            <div class="Options">
                <a href="http://localhost:8080/all" class="men opt">Shop</a>
                <a href="#" class="women opt">Women</a>
                <a href="#" class="kids opt">Kids</a>
                <a href="#" class="cheapest opt">Cheapest</a>
                <a href="#" class="latest opt">New Arrivals</a>      
            </div>

        </div>
    </header>
    <main>
        <div class="hero-image">
            
        </div>
    </main>
</body>
</html>